## Set up for users to experiment with data
# ignore all files in this directory
/*
# Except for:
!.gitignore
# Exclude all subdirectories
# !/*/
# Exclude following specific subdirectories
!data/
!bin/
